@import 'tailwindcss';

@theme {
  /* Definimos los colores de SAPFIAI directamente aquí */
  --color-ucaldas-blue: #002d57;
  --color-ucaldas-gold: #c5a059;
  --color-ucaldas-bg: #f4f7f9;
}

/* Aplicamos el fondo institucional al cuerpo de la web */
body {
  background-color: var(--color-ucaldas-bg);
  color: #1e293b;
}
